<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
        <meta charset="UTF-8">

		<title>Multiroom Chat</title>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
	</head>
    <body>
        <div class="container">
            <div class="row vertical-offset-80">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="container" style="width: auto;">
                                
                                <% if(validacao.length > 0) { %>
                                    <div class="alert alert-danger" id="div_erros">
                                        <strong><%= msg %></strong>
                                        <ul>
                                        <% for (var i = 0 ; i < validacao.length; i++) {%>
                                            <li><%= validacao[i].msg%></li>
                                        <% } %>
                            
                                        </ul>
                                    </div>
                                <% } %>

                                <% if(msg == 'N'){%>
                                    <div class="alert alert-danger" id="div-email-invalido">
                                        <strong>Email já cadastrado!</strong>
                                    </div>
                                <% } %>
                                
                            </div>
                            <div class="row-fluid user-row">
                                <img src="images/multiroom_chat_2.png" class="img-responsive" alt="Multiroom Chat"/>
                            </div>
                            <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" class="form-signin"  action="/cadastrar" method="post">
                                <fieldset>
                                    <label class="panel-login">
                                        <div class="login_result"></div>
                                    </label>
                                    <input class="form-control" value="<%= dadosForm.nome %>" placeholder="Nome ou apelido" id="nome" name="nome" type="text" >
                                    <br>
                                    <input class="form-control" value="<%= dadosForm.sobrenome %>" placeholder="Sobrenome" id="sobrenome" name="sobrenome" type="text" >
                                    <br>
                                    <input class="form-control" value="<%= dadosForm.email%>" placeholder="E-mail" id="email" name="email" type="e-mail" >
                                    <br>
                                    <input class="form-control" placeholder="Senha" id="senha" name="senha" type="password" >
                                    <br>
                                    <input class="form-control" placeholder="Confirmar senha" id="confirmar_senha" name="confirmar_senha" type="password" >
                                    <br>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" id="cadastrar" name="cadastrar" value="Cadastrar »">
                                </fieldset>
                            </form>
                            <br/>
                            <a href="/">Voltar para página de Login</a>
                        </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>