<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Multiroom Chat</title>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>

		<div class="container">
            <div class="row vertical-offset-80">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                    	<div class="panel-heading">
                            <div class="container" style="width:auto;">
                               
                                    <%  if(msg == 'A'){ %>
                                        <div class="alert alert-warning">
                                            <strong>Volte sempre!   :)</strong>        
                                        </div>
                                    <% } %>
                                     <%  if(msg == 'S'){ %>
                                        <div class="alert alert-success">
                                            <strong>Cadastro efetuado com sucesso!   :)</strong>        
                                        </div>
                                    <% } %>
                                    
                                
                            </div>                           
                            <div class="row-fluid user-row">
                                <img src="images/multiroom_chat_2.png" class="img-responsive" alt="Multiroom Chat"/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" class="form-signin"  action="/chat" method="post">
                                <fieldset>
                                    <label class="panel-login">
                                        <div class="login_result"></div>
                                    </label>
                                    <input class="form-control" placeholder="Nome ou apelido" id="apelido" name="apelido" type="text">
                                    <br>
                                    <input class="form-control" placeholder="Senha" id="senha" name="senha" type="password">
                                    <br>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" id="entrar" name="entrar" value="Entrar »">
                                </fieldset>
                            </form>
                            <br/><br/>
                            <a href="/cadastro">Castrar novo usuário</a>
                        </div>  
                    </div>

                    <div>
                        <% if(validacao.length > 0) {%>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <strong>Atenção!</strong>
                                        <ul>
                                            <% for(var i = 0; i < validacao.length; i++) { %>
                                                <li><%=validacao[i].msg%></li>
                                            <% } /* Fim do for*/ %>
                                        </ul>   
                                    </div>
                                </div>
                            </div>
                        <% } /* fim do if */ %>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('keypress', function(event){
                if(event == 13){
                    
                }
            });

            
        </script>
		
	</body>
</html>